<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm">
    <ion-item>
      <ion-label>Name as in NRIC:</ion-label>
      <ion-input [value]="accountData.name" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input [value]="accountData.email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contact Number:</ion-label>
      <ion-input [value]="accountData.contact_no" type="number" formControlName="contactNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Certification:</ion-label>
      <ion-input [value]="accountData.certification" formControlName="certification"></ion-input>
    </ion-item>
      
    <ion-item>
      <ion-label>GPA:</ion-label>
      <ion-input [value]="accountData.gpa" formControlName="gpa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Industry Interest:</ion-label>
      <ion-input [value]='accountData.industry_interest' formControlName="industry"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>About you:</ion-label>
      <ion-input [value]='accountData.summary' formControlName="summary"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Expected Salary:</ion-label>
      <ion-input [value]='accountData.expected_salary' formControlName="salary"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Birth Date:</ion-label>
      <ion-input [value]='accountData.birth_date' formControlName="birth"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender:</ion-label>
      <ion-input [value]='accountData.gender' formControlName="gender"></ion-input>
    </ion-item>

   <ion-button (click)="updateProfile()" expand="block" color="secondary" >Update Profile</ion-button>

  </form>

</ion-content>
