<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-header>
      <ion-segment [(ngModel)]="account" value="students">
        <ion-segment-button value="students">
          <ion-label>Students</ion-label>
        </ion-segment-button>
        <ion-segment-button value="companies">
          <ion-label>Companies</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>

    <ion-card-content>

      <div [ngSwitch]="account">
        
        <ion-list *ngSwitchCase="'students'">
          <ion-item>
            <ion-input type="email" placeholder="Student Email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="Password" placeholder="Password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-button>
              Login
            </ion-button>
            <ion-button (click)="goToRegister('students')">
              Register
            </ion-button>
          </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'companies'">
          <ion-item>
            <ion-input type="email" placeholder="Company Email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="Password" placeholder="Password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-button>
              Login
            </ion-button>
            <ion-button (click)="goToRegister('companies')">
              Register
            </ion-button>
          </ion-item>
        </ion-list>

      </div>

      

    </ion-card-content>
  </ion-card>
</ion-content>