ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }


  div.login-card
  {
    margin-left: -470px;
    margin-right: 16px; 
  }

  #logo
  {
    display: flex;
    justify-content: center;
  }