<ion-header>
  <ion-toolbar>
    <ion-title>Register {{account}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <div [ngSwitch]="account">
        
        <!--STUDENT REGISTER-->
        <form [formGroup]="signupFormStudent" *ngSwitchCase="'students'">
          <ion-list>
            <ion-item>
              <ion-input formControlName="studentName" placeholder="Student Name"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-input formControlName="studentEmail" type="email" placeholder="Student Email"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-input formControlName="studentGender" placeholder="Student Gender"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-input formControlName="studentPassword" type="password" placeholder="Student Password"></ion-input>
            </ion-item>
  
            <ion-item>
              <ion-button (click)="backToLogin()">
                Back
              </ion-button>
              <ion-button (click)="signupStudent()">
                Register
              </ion-button>
            </ion-item>
          </ion-list>
        </form>  

        <!--COMPANY REGISTER-->
        <form [formGroup]="signupFormCompany" *ngSwitchCase="'companies'">
        <ion-list>
          <ion-item>
            <ion-input formControlName="companyName" placeholder="Company Name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="companyEmail" type="email" placeholder="Company Email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="companyAddress" placeholder="Company Address"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="companyDescription" placeholder="Company Description"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="typeOfIndustry" placeholder="Type of Industry"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input formControlName="password" type="Password" placeholder="Password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="Password" placeholder="Confirm Password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-button (click)="backToLogin()">
              Back
            </ion-button>
            <ion-button (click)="signupCompany()">
              Register
            </ion-button>
          </ion-item>
        </ion-list>

      </form>

      </div>

      

    </ion-card-content>
  </ion-card>
</ion-content>
