<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>

    <ion-button slot="end" id="click-trigger">Welcome,{{emailAccount}}!</ion-button>
    <ion-popover trigger="click-trigger" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" (click)="logout()" [detail]="false">Update Profile</ion-item>
            <ion-item [button]="true" (click)="logout()" [detail]="false">Logout</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>

  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- OPEN HOUSE COLUMN -->
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>List of Open House</ion-label>
        <ion-button id="open-modal" expand="block" slot="end">Add Open House</ion-button>
      </ion-item>


      <div *ngIf="openHouseList == 0">
        <ion-item>
          <ion-label>Please add open house to the list</ion-label>
        </ion-item>
      </div>


      <div *ngIf="openHouseList != 0">
        <ion-item>
          <ion-label>Location</ion-label>
          <ion-label>Date & Time</ion-label>
          <ion-label>No of Pax</ion-label>
        </ion-item>

        <ion-item *ngFor="let item of openHouseList">
          <ion-label>{{item.location}}</ion-label>
          <ion-label>{{item.datetime}}</ion-label>
          <ion-label>{{item.no_pax}}</ion-label>
        </ion-item>
      </div>
    </ion-list>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Add Open House</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="saveOpenHouseDetails()">Save</ion-button>
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <form [formGroup]="openHouseAddForm">
            <ion-list>
              <ion-item>
                <ion-input formControlName="location" placeholder="Location"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input formControlName="dateTime" id="click-trigger-datetime" placeholder="Date and Time"
                  [(ngModel)]="openHouseDateTime" name="datetimeopenHouse"></ion-input>
                <ion-popover trigger="click-trigger-datetime" triggerAction="click">
                  <ng-template>
                    <ion-content>
                      <ion-datetime [(ngModel)]="openHouseDateTime" [ngModelOptions]="{standalone: true}"
                        name="datetimeopenHouse"></ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-popover>

              </ion-item>

              <ion-item>
                <ion-input formControlName="noOfPax" type="number" placeholder="No of Pax"></ion-input>
              </ion-item>

            </ion-list>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>


    <!--JOB COLUMN-->
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>List of Jobs</ion-label>
        <ion-button id="open-job-modal" expand="block" slot="end">Add Jobs</ion-button>
      </ion-item>


      <div *ngIf="jobList == 0">
        <ion-item>
          <ion-label>Please add jobs to the list</ion-label>
        </ion-item>
      </div>


      <div *ngIf="jobList != 0">
        <ion-item>
          <ion-label>Job Name</ion-label>
          <ion-label>Job Description</ion-label>
          <ion-label>Job Requirement</ion-label>
        </ion-item>

        <ion-item *ngFor="let item of jobList">
          <ion-label>{{item.name}}</ion-label>
          <ion-label>{{item.details}}</ion-label>
          <ion-label>{{item.requirements}}</ion-label>
        </ion-item>
      </div>
    </ion-list>

    <ion-modal #jobDescriptionModal trigger="open-job-modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Add Job Details</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="saveJobDetails()">Save</ion-button>
              <ion-button (click)="jobDescriptionModal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <ion-content>
          <form [formGroup]="jobDetailsAddForm">
            <ion-list>
              <ion-item>
                <ion-input formControlName="jobName" placeholder="Job Name"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input formControlName="jobDescription" placeholder="Job Description"></ion-input>

              </ion-item>

              <ion-item>
                <ion-input formControlName="jobRequirement" placeholder="Job Requirement"></ion-input>
              </ion-item>

            </ion-list>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!--APPLICATION COLUMN-->
    <ion-list [inset]="true">
      <ion-item>
        <ion-label>List of Applications (Click to Update)</ion-label>

      </ion-item>

      <div *ngIf="applicationStudentData == 0">
        <ion-item>
          <ion-label>No student applied</ion-label>
        </ion-item>
      </div>

      <div *ngIf="applicationStudentData != 0">
        <ion-item>
          <ion-label>Student Name</ion-label>
          <ion-label>Status</ion-label>
          <ion-label>Open House</ion-label>
          <ion-label>Job Name</ion-label>
          <ion-label slot="end"></ion-label>
        </ion-item>

        <!--APPLICATION COMPANY DETAILS AND UPDATE-->
        <div *ngFor="let item of applicationStudentData">
          <ion-item >
            
            <ion-label>{{item.studentName}}</ion-label>
            <ion-label>
              <ion-select [(ngModel)]="item.status">
                <ion-select-option value="Pending">Pending</ion-select-option>
                <ion-select-option value="In Progress">In Progress</ion-select-option>
                <ion-select-option value="Complete">Complete</ion-select-option></ion-select></ion-label>

            <ion-label>{{item.openHouseLocation}}</ion-label>
            <ion-label>{{item.jobName}}</ion-label>
            <ion-button (click)="updateApplicationStatus(item)">Update</ion-button>
            
          </ion-item>
        </div>
        <!--END TO AVOID CONFUSION-->
      </div>
    </ion-list>
</ion-content>